<div *ngIf="product.type" class="card" style="width:15rem; height:25em;">
  <img
    *ngIf="product.image"
    class="card-img-top"
    [src]="product.image"
    alt="{{product.type}}"
  />
  <div class="card-body">
    <h4 class="card-title">{{ product.type }}</h4>
    <p class="card-text">{{ product.price | currency: "USD":true }}</p>
  </div>
  
  <div *ngIf="showActions && shoppingCart" class="card-footer">
    <button
      *ngIf="shoppingCart.getQuantity(product) === 0; else: updateQuantity"
      (click)="addToCart()"
      class="btn btn-info btn-block"
    >
      Add to Cart
      
    </button>
    
    <ng-template #updateQuantity>
      <product-quantity
        [product]="product"
        [shopping-cart]="shoppingCart"
      ></product-quantity>
    </ng-template>
  </div>
</div>
